* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --primary: white;
  --secondary: rgb(61, 18, 115);
  --tertiary: violet;
  --black: black;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
  padding-top: 30px;
  position: sticky;
  top: 0;
  font-size: 1.5rem;
  
}

.high-score-row {
  text-decoration: none;
  color: var(--tertiary);
  padding-left: 5px;
}

.timer-text {
  text-decoration: none;
  padding-right: 50px;
}

.page-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px;
  display: block;
  font-size: 30px;
}
.page-content, p {
  font-size: 20px;
}

.quiz-section {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px;
  display: block;
  font-size: 30px; 
}


footer {
  background: var(--primary-color);
  width: 100%;
  left: 10px;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: var(--secondary);
  font-size: 1.5rem;
  border-radius: 12px;
  position: relative;
  top: 20px;
  color: var(--primary);
}

.btn:hover {
  background: var(--tertiary);
  color: var(--black);
  border-radius: 10px;
  text-shadow: none;
  top: 20px;
}



@media screen and (max-width: 980px) {
  form .form-group {
    flex: 1 100%;
  }

  form .form-group button {
    width: 100%;
  }

  .task-list-wrapper {
    flex-basis: 100%;
  }

}